.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.flex-container div {
    margin: auto;
}

body {
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

canvas {
    display: block;
    border: 1em ridge whitesmoke;
    margin: auto;
    margin-bottom: 1%;
}

h1 {
    color: whitesmoke;
    font-family: Verdana;
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}